:root {
  --button-width: 111px;
  --button-height: 57px;
  --zoom-display-height:  93px;
  --turn-display-height:  78px;
  --roll-display-height: 201px;
  --zoom-button-width:  36px;
  --zoom-button-height: 36px;
  --edit-banner-button-width: 183px;
  --edit-turn-die-button-height: 48px;
  --compressed-line-height: 1.0625;
}


/* Overall */

#gameplay-menu {
  position: fixed;
  top: var(--matte-top, 0);
  left: var(--matte-left, 0);
}

#gameplay-menu button,
#gameplay-menu .info {
  box-sizing: border-box;
  position: absolute;
  width: var(--button-width);
  border-style: none solid solid none;
  padding: 0px;
}

#gameplay-menu button {
  height: var(--button-height);
}

.default-action {
  background: #00cb98aa;
}


/* Permanent area */

#zoom-display {
  top: var(--button-height);
  height: var(--zoom-display-height);
  background: var(--color-zoom);
  line-height: var(--compressed-line-height);
}

#zoom-display .flex-container {
  height: calc(100% - 15px);
}

#gameplay-menu .zoom-button {
  box-sizing: border-box;
  top: calc(
    var(--button-height) +
    var(--zoom-display-height) -
    var(--button-border-width) -
    var(--zoom-button-height)
  );
  width:  var(--zoom-button-width);
  height: var(--zoom-button-height);
  border-style: none;
  background: none;
  backdrop-filter: none;
}

#gameplay-menu .zoom-button.current {
  box-shadow: none;
  cursor: default;
  color: var(--color-text);
}

#zoom-default {
  left: var(--zoom-button-width);
}

#zoom-in {
  left: calc(var(--zoom-button-width) * 2);
}

.zoom-indicator {
  display: none;
  position: relative;
  top: calc(0px - var(--zoom-button-height) * 5 / 8);
  margin-bottom:
       calc(0px - var(--zoom-button-height) * 5 / 6);
}

.current .zoom-indicator {
  display: block;
}

.slot-turn {
  top: calc(
    var(--button-height) +
    var(--zoom-display-height)
  );
}

#turn-display {
  height: var(--turn-display-height);
  line-height: var(--compressed-line-height);
}


/* Changing area */

.slot-roll {
  top: calc(
    var(--button-height) +
    var(--zoom-display-height) +
    var(--turn-display-height)
  );;
}

#roll-display {
  height: var(--roll-display-height);
}

.slot-cancel {
  top: calc(
    var(--button-height) +
    var(--zoom-display-height) +
    var(--turn-display-height) +
    var(--roll-display-height)
  );;
}

#cancel-button {
  background: #ff2f4eaa;
}

#confirm-button {
  top: calc(
    2 * var(--button-height) +
    var(--zoom-display-height) +
    var(--turn-display-height) +
    var(--roll-display-height)
  );
}


/* Edit mode controls */

#gameplay-menu .edit-control.banner {
  width: var(--edit-banner-button-width);
  height: var(--button-height);
  line-height: calc(
    var(--button-height) - var(--button-border-width)
  );
}

#cancel-edits {
  left:  var(--edit-banner-button-width);
}

#confirm-edits {
  left: calc(var(--edit-banner-button-width) * 2);
}

div:is(.edit-turn, .edit-dice) {
  position: absolute;
  left: var(--button-width);
  width: var(--button-width);
}

div:is(.edit-turn, .edit-dice) .flex-container {
  align-items: start;
}

div:is(.edit-turn, .edit-dice) button {
  height: var(--edit-turn-die-button-height);
  border-top-style: solid;
}

div:is(.edit-turn, .edit-dice) .slim:not(:hover) {
  width: 33px;
  color: #0000;
}

#turn-button-area {
  height: calc(
    var(--turn-display-height) -
    var(--button-border-width)
  );
}

#die-button-area {
  height: calc(
    var(--roll-display-height) -
    var(--button-border-width)
  );
}

.die-button-wrapper {
  box-sizing: border-box;
  display: none;
  height: calc(
    var(--die-content-height) +
    var(--die-border-width) * 2
  );
  padding-top: calc(
    (
      var(--die-content-height) +
      var(--die-border-width) * 2 -
      var(--edit-turn-die-button-height)
    ) / 2
  );
  margin-left: -21px;
}

.die-button-wrapper button::before {
  content: "Change";
}
