.audio-panel {
  place-items: center;
  z-index: 2;
}

.audio-list {
  display: grid;
}

.audio-item {
  padding: calc(1em / 6) 0.5em;

  &:hover {
    box-shadow: var(--hover-shadow);
    color: var(--hover-shadow-text);
    cursor: pointer;
  }
}

.music-panel {
  .choices {
    grid-template-columns: repeat(2, 1fr);
    margin-block: 0.5em;
  }
}

.playlist-panel {
  position: fixed;
  max-width: unset;
  z-index: 1;
  inset: var(--matte, 0);
  place-self: center;

  .audio-list {
    margin-block: 0.375em 0.875em;
    grid-template-columns: repeat(3, 1fr);
  }
}

.sfx-panel {
  .audio-list {
    margin-bottom: 0.75em;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .choices {
    margin-block: 1.25em 0.5em;
  }
}

.trex-sounds {
  padding-inline: 20%;

  .audio-item {
    text-transform: capitalize;
  }
}

.raptor-sounds {
  counter-reset: raptor-sound;

  .audio-item::before {
    counter-increment: raptor-sound;
    content: counter(raptor-sound, upper-alpha);
  }
}
