.gameplay {
  position: absolute;
  box-sizing: content-box;
  padding: 0;
  border: solid var(--matte, 0) transparent;
  --board-border-width: 6px;
}

div.space {
  position: absolute;
  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
  translate: -50% -50%;
  border: solid var(--board-border-width)
    var(--color-border);
}

.human-space {
  --size: 72px;
  background: #929e74;
  border-radius: 50%;

  .zoomed-out & {
    border-color: var(--color-light);
  }

  &.move,
  &.selected {
    border-color: var(--color-selected);
  }

  &.path {
    border-color: var(--color-path);
  }

  &.dead {
    display: none;
  }
}

.trex-space {
  --size: 24px;
  background: var(--color-dino-space);
}

.human-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);

  .zoomed-out & {
    stroke: var(--color-light);
  }

  &.path {
    stroke: var(--color-path);
  }
}

.trex-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);
}

.raptor-space {
  stroke: var(--color-dino-space);
  stroke-width: var(--board-border-width);
  fill: none;

  &.move {
    stroke: var(--color-selected);
    fill: var(--color-selected-fill);
  }

  &.path {
    stroke: var(--color-path);
    fill: rgb(from var(--color-path) r g b / 0.2);
  }
}
