:root {
  --extra-space-left: 432px;
  --extra-space-top: 324px;
  --extra-space-bottom: 324px;
  --raw-board-width: 4176px;
  --raw-board-height: 2232px;
  --human-space-size: 72px;
  --trex-space-size: 24px;
  --jump-land-width: 78px;
  --jump-land-height: 42px;
  --jump-land-border-width: 3px;
  --board-border-width: 6px;
  --color-path: #a67e00;
}

.full-board {
  position: absolute;
  width: calc(
    var(--raw-board-width) +
    var(--extra-space-left, 0px) +
    var(--extra-space-right, 0px)
  );
  height: calc(
    var(--raw-board-height) +
    var(--extra-space-top, 0px) +
    var(--extra-space-bottom, 0px)
  );
}

.human-space {
  position: absolute;
  box-sizing: border-box;
  width: var(--human-space-size);
  height: var(--human-space-size);
  background: #929e74;
  border: solid var(--board-border-width)
    var(--color-border);
  border-radius: 50%;

  &.move,
  &.selected {
    border-color: var(--color-selected);
  }

  &.path:not(.selected) {
    border-color: var(--color-path);
  }

  &.dead {
    display: none;
  }

  .zoomed-out & {
    border-color: #fff;
  }
}

.trex-space {
  position: absolute;
  box-sizing: border-box;
  width: var(--trex-space-size);
  height: var(--trex-space-size);
  background: var(--color-dino-space);
  border: solid var(--board-border-width)
    var(--color-border);
}

.human-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);

  &.path {
    stroke: var(--color-path);
  }

  .zoomed-out & {
    stroke: #fff;
  }
}

.trex-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);
}

.building {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);
  pointer-events: auto;

  &.move {
    stroke: var(--color-selected);
    fill: var(--color-selected-fill);
  }

  &.path {
    stroke: var(--color-path);
    fill: rgb(from var(--color-path) r g b / 0.2);
  }
}

.raptor-space {
  stroke: var(--color-dino-space);
  stroke-width: var(--board-border-width);
  fill: none;

  &.move {
    stroke: var(--color-selected);
    fill: var(--color-selected-fill);
  }

  &.path {
    stroke: var(--color-path);
    fill: rgb(from var(--color-path) r g b / 0.2);
  }
}

.raptor-entrance {
  stroke: var(--color-dino-space);
  stroke-width: 4px;
  fill: #d69724;
  pointer-events: none;
}

.jump-land-marker {
  position: absolute;
  box-sizing: border-box;
  width: var(--jump-land-width);
  height: var(--jump-land-height);
  line-height: calc(
    var(--jump-land-height) -
    var(--jump-land-border-width) * 2
  );
  border: solid var(--jump-land-border-width)
    var(--color-border);
  background: #8c7899;
  pointer-events: none;
}

.helo {
  position: absolute;
  pointer-events: none;
}

.debug-labels {
  top: 0;
  pointer-events: none;
  z-index: 3;
}

.human-space-labels {
  fill: #00a;
}

.raptor-point-labels {
  fill: var(--color-selected);
}

.raptor-space-labels {
  fill: var(--color-dino-space);
}
