:root {
  --extra-space-left: 432px;
  --extra-space-top: 324px;
  --extra-space-bottom: 324px;
  --raw-board-width: 4176px;
  --raw-board-height: 2232px;
}

.gameplay {
  --board-border-width: 6px;
}

.full-board {
  position: absolute;
  width: calc(
    var(--raw-board-width) +
    var(--extra-space-left, 0px) +
    var(--extra-space-right, 0px)
  );
  height: calc(
    var(--raw-board-height) +
    var(--extra-space-top, 0px) +
    var(--extra-space-bottom, 0px)
  );
}

div.space {
  position: absolute;
  box-sizing: border-box;
  width: var(--size);
  height: var(--size);
  translate: -50% -50%;
  border: solid var(--board-border-width)
    var(--color-border);
}

.human-space {
  --size: 72px;
  background: #929e74;
  border-radius: 50%;

  .zoomed-out & {
    border-color: var(--color-light);
  }

  &.move,
  &.selected {
    border-color: var(--color-selected);
  }

  &.path {
    border-color: var(--color-path);
  }

  &.dead {
    display: none;
  }
}

.trex-space {
  --size: 24px;
  background: var(--color-dino-space);
}

.human-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);

  .zoomed-out & {
    stroke: var(--color-light);
  }

  &.path {
    stroke: var(--color-path);
  }
}

.trex-edge {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);
}

.raptor-space {
  stroke: var(--color-dino-space);
  stroke-width: var(--board-border-width);
  fill: none;

  &.move {
    stroke: var(--color-selected);
    fill: var(--color-selected-fill);
  }

  &.path {
    stroke: var(--color-path);
    fill: rgb(from var(--color-path) r g b / 0.2);
  }
}
