:root {
  --jump-land-width: 78px;
  --jump-land-height: 42px;
}

.building {
  stroke: var(--color-border);
  stroke-width: var(--board-border-width);
  pointer-events: auto;

  &.move {
    stroke: var(--color-selected);
    fill: var(--color-selected-fill);
  }

  &.path {
    stroke: var(--color-path);
    fill: rgb(from var(--color-path) r g b / 0.2);
  }
}

.raptor-entrance {
  stroke: var(--color-dino-space);
  stroke-width: 4px;
  fill: var(--orange-over-jungle);
  pointer-events: none;
}

.jump-land-marker {
  position: absolute;
  box-sizing: border-box;
  width: var(--jump-land-width);
  height: var(--jump-land-height);
  border: solid 3px var(--color-border);
  background: #aa9ead;
  pointer-events: none;
  display: grid;
  place-items: center;
}

.helo {
  position: absolute;
  pointer-events: none;
}
