:root {
  --color-dark: #191818;
  --color-border: var(--color-dark);
  --color-light: #d5cfca;
  --color-selected: #ffd300;
  --color-selected-fill:
    rgb(from var(--color-selected) r g b / 0.4);
  --fg-alpha: 66.7%;
  --gray-alpha: #bdb8b4 var(--fg-alpha);
  --blue-alpha: #00adf0 var(--fg-alpha);
  --orange-alpha: #ff9145 var(--fg-alpha);
  --color-jungle: #47650b;
  --orange-over-jungle: color-mix(
    in srgb, var(--orange-alpha), var(--color-jungle)
  );
  --color-path: #a28600;
  --color-dino-space: #a3061b;
  --color-dino-highlighted:
    rgb(from var(--color-dino-space) r g b / 0.8);
}
