.control {
  background: none;
  grid-template: auto auto / auto auto;
  place-items: center;
  z-index: 2;
}

.control-menu {
  width: auto;
  backdrop-filter: none;
  padding: 1em;

  .heading {
    margin-block: 0.25em;
  }

  button {
    padding: 0.5em;
    min-width: 1.25em;
    background:
      rgb(from var(--color-selected) r g b / 0.2);
    margin-block: 6px 0;
  }

  button.current {
    background: var(--color-selected);
    box-shadow: none;
    cursor: default;
    color: var(--color-text);
  }

  .manual-control {
    display: inline;
    margin-block: 1em;
    padding-inline: 1em;
  }
}

.ai-levels {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}

.control-continue {
  grid-column: span 2;
  opacity: 0;
  padding: 0.5em 1em;
}
