.debug-labels {
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 4;
}

.human-space-labels {
  fill: #00a;
}

.raptor-point-labels {
  fill: var(--color-selected);
}

.raptor-space-labels {
  fill: var(--color-dino-space);
}
