.die {
  box-sizing: content-box;
  border: solid 3px var(--color-border);
  border-radius: 12px;
  --height: 66px;
  --pad: 3px;
  width: calc(var(--height) - var(--pad) * 2);
  height: var(--height);
  padding-inline: var(--pad);
}

.die-human {
  background: #c6d3a6;
}

.die-trex,
.die-raptor {
  background: #ad996a;
}

.face {
  font-size: 36px;
  line-height: var(--height, auto);
  text-transform: uppercase;

  &.copy {
    position: fixed;
    z-index: -1;
  }
}
