body.tv-mode {
  --matte-top: 35px;
  --matte-right: 159.5px;
  --matte-bottom: 125px;
  --matte-left: 0.5px;
  --matte: var(--matte-top) var(--matte-right)
    var(--matte-bottom) var(--matte-left);
}

.display-matte {
  position: fixed;
  background: var(--color-dark);
  height: 100vh;
  width: 100vw;
  z-index: 1;

  &.top {
    height: var(--matte-top, 0);
  }

  &.bottom {
    bottom: 0;
    height: var(--matte-bottom, 0);
  }

  &.left {
    width: var(--matte-left, 0);
  }

  &.right {
    right: 0;
    width: var(--matte-right, 0);
  }
}
