:root {
  --color-dark: #17181b;
  --color-text: var(--color-dark);
  --color-border: var(--color-dark);
  /* --color-selected: #fabf00; */
  --color-selected: #ffd300;
  --color-selected-fill:
    rgb(from var(--color-selected) r g b / 0.4);
  /* --color-button: #009cf3; */
  /* --color-button: #4da7fc; */
  /* --color-button: #78a5de; */
  /* --color-button: #4a7aaf; */
  /* --color-button: #618fc6; */
  /* --color-button: #2991e4; */
  /* --color-info: #b1b3b6aa; */
  /* --color-green: #00cb98aa; */
  /* --color-red: #ff2f4eaa; */
  --fg-alpha: 66.7%;
  /* --gray-alpha: #a0a2a6 var(--fg-alpha); */
  --gray-alpha: #b7b9bd var(--fg-alpha);
  /* --blue-alpha: #4da7fc var(--fg-alpha); */
  /* --blue-alpha: #00a1e0 var(--fg-alpha); */
  --blue-alpha: #00adf0 var(--fg-alpha);
  --color-jungle: #47650b;
  --button-border: solid 3px var(--color-border);
  --gap: 1.5em;
  --bg-jungle: url("../img/bg/jungle.png");
  --blur: blur(5px);
}

@font-face {
  font-family: Atkinson;
  src: url("../font/atkinson-bold.ttf")
    format("truetype");
  font-weight: bold;
}

body {
  display: none;
  margin: 0px;
  overscroll-behavior: none;
  background: var(--color-dark);
  color: var(--color-text);
  text-align: center;
  user-select: none;
  font: bold 24px Atkinson;
  image-rendering: pixelated;

  &.zoomed-out {
    background-image: var(--bg-jungle);
    background-size: calc(512px * var(--bg-scale));
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.large-text {
  font-size: 32px;
}

svg {
  display: block;
}

.inactive {
  display: none;
}

section {
  background-image: var(--bg-jungle);
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--matte, 0);
  display: grid;
  place-content: center;
  gap: var(--gap);

  .zoomed-out & {
    background-image: none;
  }
}

button {
  display: block;
  box-sizing: content-box;
  padding: 0px;
  outline: none;
  color: inherit;
  font: inherit;
  border: var(--button-border);
  background: color-mix(
    in srgb, var(--blue-alpha), transparent
  );
  backdrop-filter: blur(5px);

  :where(.start, .control, .more-menu) & {
    background: color-mix(
      in srgb, var(--blue-alpha), var(--color-jungle)
    );
    backdrop-filter: none;
  }
}

button:hover,
.hover-darken:hover {
  box-shadow: inset 0px 0px 0px 999px #0003;
  cursor: pointer;
  color: #000;
}

.small {
  --size: 36px;
  width: var(--size);
  height: var(--size);
}

.info {
  max-width: 450px;
  padding: 1em 1.5em;
  background: color-mix(
    in srgb, var(--gray-alpha), transparent
  );
  border: var(--button-border);
  backdrop-filter: blur(5px);

  :where(.front, .start, .control, .more-menu) & {
    background: color-mix(
      in srgb, var(--gray-alpha), var(--color-jungle)
    );
    backdrop-filter: none;
  }
}

.decision,
.choices {
  display: grid;
  place-content: center;
  gap: var(--gap);

  button {
    box-sizing: border-box;
    padding: 0.5em 1em;
  }
}

p {
  text-align: left;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.full-screen {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  padding: var(--matte, 0);
  width: 100%;
  height: 100%;
}

.gameplay {
  box-sizing: content-box;
  padding: 0;
  border-style: solid;
  border-color: transparent;
  border-width: var(--matte, 0);

  &.zoomed-out {
    background: none;
  }
}
