:root {
  --color-dark: #191818;
  --color-text: var(--color-dark);
  --color-border: var(--color-dark);
  --color-selected: #ffd300;
  --color-selected-fill:
    rgb(from var(--color-selected) r g b / 0.4);
  --fg-alpha: 66.7%;
  --gray-alpha: #bdb8b4 var(--fg-alpha);
  --blue-alpha: #00adf0 var(--fg-alpha);
  --orange-alpha: #ff9145 var(--fg-alpha);
  --color-jungle: #47650b;
  --orange-over-jungle: color-mix(
    in srgb, var(--orange-alpha), var(--color-jungle)
  );
  --button-border: solid 3px var(--color-border);
  --gap: 1.5em;
  --bg-jungle: url("../img/bg/jungle.png");
  --blur: blur(6px);
  --hover-shadow: inset 0px 0px 0px 999px #0003;
  --hover-shadow-text: #000;
}

@font-face {
  font-family: Atkinson;
  src: url("../font/atkinson-bold.ttf")
    format("truetype");
  font-weight: bold;
}

body {
  display: none;
  margin: 0px;
  overscroll-behavior: none;
  background: var(--color-dark);
  color: var(--color-text);
  text-align: center;
  user-select: none;
  font: bold 24px Atkinson;
  image-rendering: pixelated;

  &.zoomed-out {
    background-image: var(--bg-jungle);
    background-size: calc(512px * var(--bg-scale));
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.large-text {
  font-size: 32px;
}

svg {
  display: block;
}

.inactive,
data {
  display: none;
}

section {
  background-image: var(--bg-jungle);
  position: fixed;
  z-index: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--matte, 0);
  display: grid;
  place-content: center;
  gap: var(--gap);

  .zoomed-out & {
    background-image: none;
  }
}

button {
  display: block;
  box-sizing: content-box;
  padding: 0px;
  outline: none;
  color: inherit;
  font: inherit;
  border: var(--button-border);
  background: color-mix(
    in srgb, var(--blue-alpha), transparent
  );
  backdrop-filter: var(--blur);

  :where(.start, .control, .more-menu) & {
    background: color-mix(
      in srgb, var(--blue-alpha), var(--color-jungle)
    );
    backdrop-filter: none;
  }

  :where(.gameplay) &.small {
    --size: 36px;
    width: var(--size);
    height: var(--size);
  }
}

button:enabled:hover {
  box-shadow: var(--hover-shadow);
  color: var(--hover-shadow-text);
  cursor: pointer;
}

.info {
  max-width: 450px;
  padding: 1em 1.5em;
  background: color-mix(
    in srgb, var(--gray-alpha), transparent
  );
  border: var(--button-border);
  backdrop-filter: var(--blur);

  :where(.front, .start, .control, .more-menu) & {
    background: color-mix(
      in srgb, var(--gray-alpha), var(--color-jungle)
    );
    backdrop-filter: none;
  }
}

.decision,
.choices {
  display: grid;
  place-content: center;
  gap: var(--gap);

  button {
    box-sizing: border-box;
    padding: 0.5em 1em;
  }
}

p {
  text-align: left;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cover {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  padding: var(--matte, 0);
  width: 100%;
  height: 100%;
}

.gameplay {
  box-sizing: content-box;
  padding: 0;
  border-style: solid;
  border-color: transparent;
  border-width: var(--matte, 0);

  &.zoomed-out {
    background: none;
  }
}
