:root {
  --color-dark: #16171a;
  --color-text: var(--color-dark);
  --color-border: var(--color-dark);
  --color-selected: #fabf00;
  --color-selected-fill:
    rgb(from var(--color-selected) r g b / 0.4);
  --button-border-width: 3px;
  --small-button-size: 36px;
  --gap: 1.5em;
  /* Also see custom propertes in animation.js */
}

@font-face {
  font-family: Atkinson;
  src: url("../font/atkinson-bold.ttf")
    format("truetype");
  font-weight: bold;
}

body {
  display: none;
  margin: 0px;
  overscroll-behavior: none;
  background: var(--color-dark);
  color: var(--color-text);
  text-align: center;
  user-select: none;
  font: bold 24px Atkinson;
  image-rendering: pixelated;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.large-text {
  font-size: 32px;
}

svg {
  display: block;
}

.inactive {
  display: none;
}

section {
  background-image: url("../img/bg/jungle.png");
  background-repeat: repeat;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: var(--matte, 0);
  display: grid;
  place-content: center;
  gap: var(--gap);
}

button {
  display: block;
  box-sizing: content-box;
  padding: 0px;
  outline: none;
  background: #009cf3aa;
  color: inherit;
  font: inherit;
}

button:hover,
.hover-darken:hover {
  box-shadow: inset 0px 0px 0px 999px #0003;
  cursor: pointer;
  color: #000;
}

button,
.info {
  backdrop-filter: blur(5px);
  border: solid var(--button-border-width)
    var(--color-border);
}

.small-button {
  width: var(--small-button-size);
  height: var(--small-button-size);
}

.decision,
.choices {
  display: grid;
  place-content: center;
  gap: var(--gap);

  button {
    box-sizing: border-box;
    padding: 0.5em 1em;
  }
}

.info {
  max-width: 450px;
  padding: 1em 1.5em;
  background: #b1b3b6aa;
}

p {
  text-align: left;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.full-screen {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  padding: var(--matte, 0);
  width: 100%;
  height: 100%;
}

.gameplay {
  padding: 0;
}
