.hud {
  pointer-events: none;
  z-index: 1;
}

.game-over {
  position: fixed;
  width: auto;
  padding: 1em 2em;
  z-index: 1;
  inset: var(--matte, 0);
  place-self: center;

  .heading {
    margin-block: 0.25em 0.75em;
  }
}

.toggle-button-group {
  position: absolute;
  margin: var(--matte, 0);
  top: 0;
  right: 0;
  pointer-events: auto;
  z-index: 0;
  --button-size: 39px;

  button {
    box-sizing: border-box;
    width: var(--button-size);
    height: var(--button-size);
    border-style: none none solid solid;
    display: grid;
    place-content: center;
  }
}

.scrim {
  background: #6d6a68aa;
  backdrop-filter: var(--blur);
  z-index: 2;
}
