.message {
  position: fixed;
  top: var(--matte-top, 0);
  left: var(--matte-left, 0);
  right: var(--matte-right, 0);
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: auto;
  padding: 12px;
  border-top-style: none;
  text-wrap: balance;
  z-index: 4;
  display: grid;
  place-items: center;
}

.hider {
  position: absolute;
}
