.human-piece {
  position: absolute;
  width: 36px;
  height: 60px;
  --color-highlight: #008b4bcc;
  z-index: 0;
  --z-index-selected: 3;
  display: grid;
  grid-template: 100% auto / 100%;
  place-items: center;
  gap: 12px;

  &.selected {
    outline: solid var(--board-border-width)
      var(--color-selected);
    z-index: var(--z-index-selected);
  }

  &.on-selected {
    z-index: var(--z-index-selected);
  }

  &.dead {
    --color-highlight: #aaac;
  }

  &.dead:not(.selected) {
    z-index: 2;
  }
}

.raptor-piece {
  position: absolute;
  width: 144px;
  height: 72px;
  --color-highlight: var(--color-dino-highlighted);
  z-index: 1;
  display: grid;
  place-items: center;

  &.selected {
    outline: solid var(--board-border-width)
      var(--color-selected);
  }
}

.trex-piece {
  position: absolute;
  width: 75px;
  height: 48px;
  --color-highlight: var(--color-dino-highlighted);
  z-index: 1;
  display: grid;
  grid-auto-flow: column;
}

.human-component {
  margin: 0 0 1px 1px;
  grid-area: 1 / 1;
}

.raptor-component {
  grid-area: 1 / 1;
}

.trex-component {
  grid-area: 1 / 1;
}

.shadow {
  z-index: 1;
}

.dead-marker {
  display: none;
  font-weight: normal;
  font-size: 36px;
  color: #ccc;
  -webkit-text-stroke: 1px var(--color-dark);
  position: absolute;
  transform: translateY(3.5px);
  z-index: 2;

  .dead & {
    display: block;
  }
}

.trex-edit {
  height: var(--trex-piece-height);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 12px;
}

.kill {
  font-weight: normal;
  --vertical-adjust: 1.5px;
}
