.piece {
  position: absolute;
  translate: -50% -50%;
  display: grid;
  place-items: center;
  gap: 12px;
  outline: none 6px var(--color-selected);

  &.raptor-piece,
  &.trex-piece {
    z-index: 1;
    --color-highlight: 
      rgb(from var(--color-dino-space) r g b / 0.8);
  }

  &.selected {
    outline-style: solid;
  }

  img {
    grid-area: 1 / 1;
  }
}

.shadow {
  z-index: 1;
}

.human-piece {
  width: 36px;
  height: 60px;
  z-index: 0;
  --color-highlight: #008b4bcc;
  grid-template: 100% auto / 100%;

  &.dead {
    --color-highlight: #aaac;
    z-index: 2;
  }

  &.selected,
  &.on-selected {
    z-index: 3;
  }

  img {
    margin: 0 0 1px 1px;
  }
}

.raptor-piece {
  width: 144px;
  height: 72px;
}

.trex-piece {
  width: 75px;
  height: 48px;
  grid-auto-flow: column;
}

.dead-marker {
  display: none;
  font-weight: normal;
  font-size: 36px;
  color: #ccc;
  -webkit-text-stroke: 1px var(--color-dark);
  position: absolute;
  translate: 0 3.5px;
  z-index: 2;

  .dead & {
    display: block;
  }
}

.trex-edit {
  height: var(--trex-piece-height);
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 6px;
}

.kill {
  font-weight: normal;
  --vertical-adjust: 1.5px;
}
