.hud {
  background: none;
  pointer-events: none;
  z-index: 1;
}

.game-over {
  position: fixed;
  width: auto;
  padding: 1em 2em;
  z-index: 1;
  inset: var(--matte, 0);
  place-self: center;

  .heading {
    margin-block: 0.25em 0.75em;
  }
}

.message {
  position: fixed;
  top: var(--matte-top, 0);
  left: var(--matte-left, 0);
  right: var(--matte-right, 0);
  margin-left: auto;
  margin-right: auto;
  width: 540px;
  height: auto;
  padding: 12px;
  border-top-style: none;
  text-wrap: balance;
  display: grid;
  place-items: center;
  pointer-events: auto;
  z-index: 1;

  &:hover {
    box-shadow: var(--hover-shadow);
    color: transparent;
    cursor: pointer;

    &::before {
      content: "Hide Message";
      position: absolute;
      color: var(--hover-shadow-text);
    }
  }

  &.being-hidden {
    color: transparent;
  }
}

.more-menu {
  display: grid;
  place-content: center;
  pointer-events: auto;
  z-index: 3;

  .choices {
    /* grid-template: repeat(3, 1fr) / repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
  }
}

.scrim {
  background: #6d6a68aa;
  backdrop-filter: var(--blur);
  z-index: 2;
}

.start-options {
  display: grid;
  place-content: center;
  gap: var(--gap);
  --lane: 78px;
  grid-template-columns: repeat(3, var(--lane));
  grid-template-rows: repeat(3, var(--lane));

  button {
    grid-column: 1 / -1;

    &.small {
      grid-column: span 1;
      text-align: center;
      display: grid;
      place-content: center;

      .icon:not(.inactive) {
        --size: 1.25em;
        width: var(--size);
        height: var(--size);
      }
    }
  }
}

.toggle-button-group {
  position: absolute;
  margin: var(--matte, 0);
  top: 0;
  right: 0;
  pointer-events: auto;
  z-index: 0;
  --button-size: 39px;

  button {
    box-sizing: border-box;
    width: var(--button-size);
    height: var(--button-size);
    border-style: none none solid solid;
    display: grid;
    place-content: center;

    .icon {
      --size: 24px;
      width: var(--size);
      height: var(--size);
    }
  }
}

.expandable {
  --full-height: 48px;

  &::before {
    content: attr(data-short);
    display: inline-block;
    transform: translateY(var(--vertical-adjust, 0));
  }

  &:hover {
    box-sizing: border-box;
    height: var(--full-height);
    width: auto;
    padding-inline: 0.5em;

    &::before {
      content: attr(data-long);
      transform: none;
    }
  }
}
