.game-over {
  position: fixed;
  width: auto;
  padding: 1em 2em;
  z-index: 4;
  inset: 0;
  place-self: center;

  .heading {
    margin-block: 0.25em 0.75em;
  }
}

.toggle-audio {
  .gameplay & {
    position: fixed;
    top: var(--matte-top, 0);
    right: var(--matte-right, 0);
    border-style: none none solid solid;
    z-index: 4;

    .icon {
      --size: 24px;
      width: var(--size);
      height: var(--size);
      margin: calc(
        (var(--small-button-size) - var(--size)) / 2
      );
    }
  }

  .start & .icon:not(.inactive) {
    display: inline;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    position: relative;
    top: -2.5px;
    margin-left: 0.25em;
  }
}
